@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 640px){
  .card{
    margin-bottom: 20px;
  }
  .card:hover {
    transform: none !important;
  }
}



